.user-details-card {
    margin: 20px;
    padding: 20px;
}

.user-details-card .ant-card-head {
    background-color: #007bff; /* Your desired background color */
    color: aliceblue;           /* Text color */
    font-style: normal;         /* Font style */
    font-size: medium;        /* Font size */
}
