/* src/ResultPage/ResultPage.css */
.result-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f0f2f5; /* Light background color */
    padding: 24px;
    box-sizing: border-box;
  }
  